.linkButton {
  background: #1dbe38;
  padding: 12px 24px;
  margin-bottom: 40px;
  border-radius: 48px;

  color: #fff;
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;

  &__Secondary {
    background: transparent;
    border: 1px solid #fff;
  }
}

.linkButton.imageWrapper {
  display: flex;
}
