.footerSection {
  color: #fff;
  background: #684dff 100%;
}
.footerSection_header {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.footerSection_headerLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footerSection_navigation {
  display: flex;
  gap: 24px;
}

.footerSection_navigationLink {
  color: #fff;
  text-decoration: none;
}
