.heroSection {
  color: #fff;
  background: linear-gradient(180deg, #9747ff 0%, #684dff 100%);
}
.heroSection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  width: 960px;
  margin: 0 auto;
}

.heroSection__headerLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.heroSection__navigation {
  display: flex;
  gap: 24px;
}

.heroSection__navigationLink {
  color: #fff;
  text-decoration: none;
}

.heroSection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

.heroSection__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  margin: 12px auto var(--mediumPadding);
  opacity: 0.64;
  max-width: 480px;
  padding: 12px 0 24px;
}

.heroSection__heroImageWrapper {
  border-radius: 40px;
  width: 720px;
  height: 480px;
  overflow: hidden;
  margin-bottom: 48px;
}

.heroSection__heroImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.heroSection__buttonsWrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 24px;
}

.heroSection__infoTextWrapper {
  display: flex;
  gap: 10px;
}
